# Sistema
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
*.sublime-workspace
*.sublime-project
.idea/


# Node / builds (se houver futuramente)
node_modules/
dist/
build/

# Arquivos temporários
*.log
*.tmp
*.swp

# Dados privados
*.env